**/.DS_Store
ios/build/**
ios/opus/_build/**
ios/Pods/**
node_modules/**
android/app/build/**
android/app/.cxx/**
android/.gradle/**
android/.idea/**
android/app/src/**
/ios/btspeech.xcworkspace/xcuserdata/nathaniel.xcuserdatad
/ios/btspeech.xcworkspace/xcuserdata/nathaniel.xcuserdatad
/ios/btspeech.xcworkspace/xcuserdata
/android/.idea
/android/.idea
/ios/btspeech.xcworkspace/xcuserdata
/ios/btspeech.xcworkspace/xcuserdata
/android/app/src
android/appIcon.png
android/app-logo.png
/ios/btspeech/Images.xcassets
/ios/btspeech/Images.xcassets
/ios/btspeech.xcworkspace/xcuserdata/nathaniel.xcuserdatad
/android/.idea
/android/app/release
